body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 3rem;
}

.header {
  &__title {
    font-size: 4rem;
    letter-spacing: 0.8rem;
    color: $titleColor;
    margin-bottom: 2rem;

    &--main,
    &--secondary {
      display: block;
    }

    &--secondary {
      font-size: 3rem;
    }

    &--main {
      animation: moveToRight 1s linear;
      -webkit-animation: moveToRight 1s linear;
    }

    &--secondary {
      animation: moveToLeft 1s linear;
      -webkit-animation: moveToLeft 1s linear;
    }
  }
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $linearGradientStartColor,
    $linearGradientEndColor
  );
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .2rem;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2;
  -webkit-transition: all 0.2;
  -moz-transition: all 0.2;
  -ms-transition: all 0.2;
  -o-transition: all 0.2;

  &:hover {
    transform: skewY(2deg) skewX(3deg) scale(1.2);
    -webkit-transform: skewY(2deg) skewX(3deg) scale(1.2);
    -moz-transform: skewY(2deg) skewX(3deg) scale(1.2);
    -ms-transform: skewY(2deg) skewX(3deg) scale(1.2);
    -o-transform: skewY(2deg) skewX(3deg) scale(1.2);
}
}
