*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.801), rgba(230, 93, 29, 0.698)), url("../img/header-bg.jpg");
  background-size: cover;
  position: relative; }
  .header__logo {
    width: 13rem; }
  .header__logo-box {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center; }

.btn {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  color: black;
  border: 1px solid #fff;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 2rem 2rem;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  animation: moveToTop 1s linear;
  -webkit-animation: moveToTop 1s linear; }
  .btn:link {
    text-decoration: none; }
  .btn--white {
    background-color: #fff; }
  .btn:hover {
    transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -o-transform: translateY(-15%); }
    .btn:hover::after {
      transform: scaleX(1.6) scaleY(1.5);
      -webkit-transform: scaleX(1.6) scaleY(1.5);
      -moz-transform: scaleX(1.6) scaleY(1.5);
      -ms-transform: scaleX(1.6) scaleY(1.5);
      -o-transform: scaleX(1.6) scaleY(1.5);
      opacity: 0; }
  .btn:active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(); }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 2rem 2rem;
    border-radius: 2rem;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    z-index: -1; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 3rem; }

.header__title {
  font-size: 4rem;
  letter-spacing: 0.8rem;
  color: #fff;
  margin-bottom: 2rem; }
  .header__title--main, .header__title--secondary {
    display: block; }
  .header__title--secondary {
    font-size: 3rem; }
  .header__title--main {
    animation: moveToRight 1s linear;
    -webkit-animation: moveToRight 1s linear; }
  .header__title--secondary {
    animation: moveToLeft 1s linear;
    -webkit-animation: moveToLeft 1s linear; }

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(230, 93, 29, 0.698));
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .2rem;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2;
  -webkit-transition: all 0.2;
  -moz-transition: all 0.2;
  -ms-transition: all 0.2;
  -o-transition: all 0.2; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(3deg) scale(1.2);
    -webkit-transform: skewY(2deg) skewX(3deg) scale(1.2);
    -moz-transform: skewY(2deg) skewX(3deg) scale(1.2);
    -ms-transform: skewY(2deg) skewX(3deg) scale(1.2);
    -o-transform: skewY(2deg) skewX(3deg) scale(1.2); }

.main-section {
  background-color: #eee;
  padding: 30rem 0;
  margin-top: -20rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: block;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-3 {
    width: calc( 100% - 6rem - ((100% - (2 *6rem)) / 3)); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - (3 * 6rem)) / 4) + (6rem) * 2); }

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    -webkit-transform: translateX(-10rem);
    -moz-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    -o-transform: translateX(-10rem); }
  90% {
    opacity: 1;
    transform: translateX(1rem);
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    -webkit-transform: translateX(10rem);
    -moz-transform: translateX(10rem);
    -ms-transform: translateX(10rem);
    -o-transform: translateX(10rem); }
  90% {
    opacity: 1;
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(10rem);
    -webkit-transform: translateY(10rem);
    -moz-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    -o-transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
